// Add your own CSS here!
:root {
  --light: #eee8d5;
  --dark: #073642;
  --secondary: #268bd2;
  --tertiary: #6c71c4;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #073642;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #22212C !important;
  --dark: #80FFEA !important;
  --secondary: #8AFF80 !important;
  --visited: #4a575e !important;
  --tertiary: #8AFF80 !important;
  --primary: #8AFF80 !important;
  --gray: #F8F8F2 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --external: #80FFEA !important;
}
